@import "../varibles";

header {
   border-radius: 0 0 0 calc(130px + 1dvw);
   background-color: $LightGrayishBlue;
   overflow: visible;

   .header-BG {
      position: absolute;
      background: transparent url(../../images/pattern-circles.svg) no-repeat center center;
      background-size: 200px; 
   }
   h1 {
      letter-spacing: .5px;
      color: $DarkBlue;
      font-size: calc(19px + 1dvw);
      font-weight: 800;
   }
   p { 
      color: $GrayishBlue;
      letter-spacing: .5px;
      line-height: 1.8;
   }
}