@import "../varibles";

#app-body {
   width: clamp(380px, 100%, 560px) !important;
   position: absolute;
   border-radius: 8px;
   transform: translateY(-35%);
   filter: drop-shadow(1px 1px 5px hsla(226, 68%, 95%, 0.815));
   color: $GrayishBlue;
   font-size: 16px;
   font-weight: 600;

   #lower-app-body {
      border-top: 1px solid $LightGrayishBlue;

      button {
         width: clamp(120px, 70%, 280px);
         border-radius: 40px;
         margin: 1.8rem 0;
         padding: .7rem;
         background-color: $DarkBlue;
         &:hover, &:active {
            color: $LightGrayishBlue;
            transition: all .3s ease;
         }
      }
   }
}